.dietform {
    box-sizing: border-box;
    background-color: rgb(87, 34, 117);
    padding: 70px;
    color: white;
    margin-top: 2%;
    margin-left: 35%;
    border-radius: 5px;
    display: inline-flex;
}

.dietplan{
    font-family: 'Akaya Telivigala', cursive;;
    padding: 50px;
    margin: auto;
    display: inline-flex;
    color: #000;
}