
.profile {
    margin: 7% 10%;
     display: flex; 
}

.img {   
   height: 190px;
   margin-left: 30%;
   margin-top: -319px;
}

.text {
    margin-top: 20px;
    margin-bottom: 5%;
    margin-left: -679px;
    font-size: large;
} 

/* @media (min-width: 500px) {
    .profile {
        margin: auto;
        width: 15%;
        display: block
    }
    .text{
        margin: auto;
    }
    .img{
        margin: auto;
    }
} */