
.signup {
    background-color: pink;
    width: 60vw;
    display: flex;
    border: 1px solid #ccc;
    flex-direction: column;
    padding: 40px;
    margin: 3px auto; 
    box-shadow: 3px 8px 3px rgb(226, 126, 185);
    font-family: 'Open Sans Condensed', sans-serif;
}

.dropinput {
    background: none;
    background-color: white;
    color: rgba(0, 0, 0, 0.849);
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
    margin: 25px 0;
   }

   .dropinput:focus {
      outline: none;
    }
  